# Logs
*.log
lerna-debug.log*
logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

node_modules
*.local
dist
dist-ssr

# Editor directories and files
!.vscode/extensions.json
.DS_Store
.idea
.vscode/*
*.njsproj
*.ntvs*
*.sln
*.suo
*.sw?
